In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Precipitaciones.csv')
df.head()

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6
3,ALMERIA,56.3,5.2,35.8,43.1,38.8,16.9,10.2,1.9,17.4,27.3,32.6,3.2,288.7
4,ARABA,96.8,79.9,38.0,52.0,37.7,107.8,8.5,17.7,63.3,38.5,212.2,197.3,949.7

### Conceptualmente podemos decir que una Serie de pandas en unidimensional que es capaz de almacenar cualquier tipo de datos

In [3]:
serie = df['region']
serie.head()

0    A CORUNA
1    ALBACETE
2    ALICANTE
3     ALMERIA
4       ARABA
Name: region, dtype: object

### No solo se pueden crear Series a partir de DataFrames tambien puedes ser crear a partir de objetos de python como las listas usando el metodo Series de pandas

In [4]:
datos = [10, 20, 30, 40, 50]
series2 = pd.Series(datos)
series2

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Algo mas que  hacer es agregarles indices personalizados a tus Series de pandas

In [6]:
indices = ['a', 'b', 'c', 'd', 'e']
series2 = pd.Series(datos, indices)
series2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [7]:
series2['b']

np.int64(20)

In [8]:
type(series2)

pandas.core.series.Series

In [11]:
type(series2['b']) # no es un integer normal, es un integer de numpy, los elementos en la serie en este caso son integers

numpy.int64

In [12]:
capitales = {'Espana': 'Madrid', 'Peru': 'Lima', 'Argentina': 'Buenos Aires'}
serie3 = pd.Series(capitales)
serie3

Espana             Madrid
Peru                 Lima
Argentina    Buenos Aires
dtype: object

In [13]:
serie3['Peru']

'Lima'