In [1]:
import pandas as pd

### Suponiendo que tenemos una tabla con las columnas nombre y edad como esta:

| nombre | edad|
|--------|-----|
| Pedro  | 25  |
| Juan   | 39  |
| Lorena | 33  |

### A las tablas de datos en pandas se les dice DataFrames y a las columnas se les dice Series

In [4]:
datos = {'nombre': ['Pedro', 'Juan', 'Lorena'], 'edad': [25, 39, 33]}
datos

{'nombre': ['Pedro', 'Juan', 'Lorena'], 'edad': [25, 39, 33]}

### El metodo DataFrame sirve para crear un conjunto de datos en forma de tabla

In [5]:
df = pd.DataFrame(datos)
df

   nombre  edad
0   Pedro    25
1    Juan    39
2  Lorena    33

### Como dijimos anteriormente pandas tiene dos tipos de datos los DataFrame y las Series

In [6]:
type(df)

pandas.core.frame.DataFrame

### Para acceder a las series de un DataFrame podemos usar la anotacion de corchetes o con punto, como se representa en el siguiente codigo:

In [7]:
df['nombre']

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [9]:
df.nombre

0     Pedro
1      Juan
2    Lorena
Name: nombre, dtype: object

In [10]:
type(df.nombre)

pandas.core.series.Series