In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'Impares': [1, 3, 5],
    'Pares': [2, 4, 6]
})
df

   Impares  Pares
0        1      2
1        3      4
2        5      6

In [3]:
array_np1 = df.values
array_np1

array([[1, 2],
       [3, 4],
       [5, 6]])

In [5]:
array_np2 = df.to_numpy()
array_np2

array([[1, 2],
       [3, 4],
       [5, 6]])

In [6]:
np.sqrt(df)

    Impares     Pares
0  1.000000  1.414214
1  1.732051  2.000000
2  2.236068  2.449490

In [8]:
np.log10(df)

    Impares     Pares
0  0.000000  0.301030
1  0.477121  0.602060
2  0.698970  0.778151

In [10]:
np.max(df)

6

In [11]:
np.mean(df)

np.float64(3.5)

In [12]:
df_desde_np = pd.DataFrame(array_np1)
df_desde_np

   0  1
0  1  2
1  3  4
2  5  6

In [13]:
df_desde_np = pd.DataFrame(array_np1, columns=['col1', 'col2'])
df_desde_np

   col1  col2
0     1     2
1     3     4
2     5     6