In [1]:
import numpy as np

In [2]:
array = np.array([1, 2, 3, np.nan, 5, 6])
array

array([ 1.,  2.,  3., nan,  5.,  6.])

In [3]:
np.isnan(array)

array([False, False, False,  True, False, False])

In [4]:
np.mean(array)

np.float64(nan)

In [5]:
np.nanmean(array) # suma 1, 2, 3, 5 y 6, y los divide entre 5 ya que aunque hay 6 valores uno de ellos nan asi que no lo cuenta

np.float64(3.4)

In [6]:
# reemplazar valores NaN con 0
array_con_0 = np.where(np.isnan(array), 0, array)
array_con_0

array([1., 2., 3., 0., 5., 6.])

In [7]:
# reemplazar valores NaN con el promedio
promedio = np.nanmean(array)
array_con_promedio = np.where(np.isnan(array), promedio, array)
array_con_promedio

array([1. , 2. , 3. , 3.4, 5. , 6. ])

In [8]:
# eliminar valores NaN
array_filtrado = array[~np.isnan(array)]
array_filtrado

array([1., 2., 3., 5., 6.])